* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  overflow: hidden;
  height: 100vh;
  width: 100%;

  --color-neon-cyan: #00f8f1;
  --color-neon-green: #39ff14;
  --color-deep-blue: #00008b;
  --color-electric-blue: #0055ff;

  --color-surface-100: #0a0e17;
  --color-surface-200: #121826;
  --color-surface-300: #1c2638;
  --color-surface-400: #29364d;

  --color-text-primary: #ffffff;
  --color-text-secondary: #aebbc9;
  --color-text-accent: var(--color-neon-cyan);

  font-family: Helvetica, Arial, sans-serif, Inter, system-ui, Avenir;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 0;
  background-color: var(--color-surface-100);
}

main {
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100%;
  color: var(--color-text-primary);
  z-index: 6;
}

.app {
  display: flex;
  height: 100dvh;
  width: 100%;
}
